/*-----------------------------------------------------------------------------
version:   1.0
date:      19/11/2019
author:    Kuba Mikołajczyk
email:     Qba600@gmail.com
*/


/*
---------------------------------------------
               GLOBAL VARIABLES
---------------------------------------------
*/

// COLORS
$main-dark-blue: #2d3e50;
$main-light-green: #1ABC9C;

// TRANSITIONS
$standard: .3s ease;

// FONTS
$main-font: 'Lato', sans-serif;
$secondary-font:'Montserrat', sans-serif;

/*
---------------------------------------------
               GLOBAL SETTINGS
---------------------------------------------
*/

/* Remove padding and margin */
*
{
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body{
  color: $main-dark-blue;
  font-family: $main-font;
}

a{
  text-decoration: none;
}

/*
---------------------------------------------
                  REUSABLE
---------------------------------------------
*/

// Hovers

.elevate-hover{
  &:hover{
    transform: translateY(-3px);
  }
}

.main-color-hover{
  &:hover{
    color: $main-light-green;
  }
}

// Helper classes

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

// Dividers

.star-divider{
  margin: 1.25rem 0 1.5rem;
 .star-divider__icon{
   font-size: 2rem;
   position: relative;

   &:before{
     content: "";
     width: 112px;
     height: 4px;
     position: absolute;
     left: -8rem;
     top: 50%;
     transform: translateY(-50%);
     border-radius: 4px;
   }

   &:after{
     content: "";
     width: 112px;
     height: 4px;
     position: absolute;
     left: 3.3rem;
     top: 50%;
     transform: translateY(-50%);
     border-radius: 4px;
   }
 }
}

.star-divider--white{
  .star-divider__icon{
    color:white;

    &:before{
      background: white;
    }

    &:after{
      background: white;
    }
  }
}

.star-divider--dark{
  .star-divider__icon{
    color: $main-dark-blue;

    &:before{
      background: $main-dark-blue;
    }

    &:after{
      background: $main-dark-blue;
    }
  }
}


/*
---------------------------------------------
                 GRID SYSTEM
---------------------------------------------
*/

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.container--column{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(min-width: 576px){
  .container{
    max-width: 540px;
  }
}

@media(min-width: 768px){
  .container{
    max-width: 720px;
  }
}

@media(min-width: 992px){
  .container{
    max-width: 960px;
  }
}

@media(min-width: 1200px){
  .container{
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12, .col-4, .col-6{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.col-4{
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-6{
  flex: 0 0 50%;
  max-width: 50%;
}

.col-12{
  flex: 0 0 100%;
  max-width: 100%;
}


/*
---------------------------------------------
                 NAVIGATION
---------------------------------------------
*/

.navbar{
  background: $main-dark-blue;
  padding: 1.5rem .5rem;
}

.navbar-brand{
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 800;
  font-family: $secondary-font;
  color:white;
  font-size: 1.6rem;
  transition: $standard;
  @extend .elevate-hover;
}

.nav-menu{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu__link{
  font-family: $secondary-font;
  text-transform: uppercase;
  font-weight: 700;
  padding: .5rem 1rem;
}

.nav-menu__link a{
  color: white;
  transition: $standard;
  @extend .main-color-hover;
}


/*
---------------------------------------------
                    HEADER
---------------------------------------------
*/

.masthead{
  padding-top: calc(6rem + 104px);
  padding-bottom: 6rem;
  background: $main-light-green;
  font-family: $secondary-font;
}

.masthead-img{
  width: 15rem;
  margin-bottom: 3rem;
}

.masthead-header{
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
}

.masthead-subheader{
  font-size: 1.5rem;
  color: white;
}

/*
---------------------------------------------
                   FOOTER
---------------------------------------------
*/


/*
---------------------------------------------
              PORTFOLIO SECTION
---------------------------------------------
*/

.portfolio{
  margin-top:6rem;
  margin-bottom: calc(6rem - 30px);
}

.portfolio__card{
  position: relative;
  overflow: hidden;
  border-radius: .1rem;
  margin-bottom: 30px;
}

.overlay-layer{
  position:absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $main-light-green;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: $standard;
  cursor: pointer;


  &:hover{
    opacity: 1;
  }
}

.overlay-layer i {
  font-size: 5rem;
  color: white;
}

.portfolio-img{
  max-width: 100%;
}

.portfolio__header-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom:.5rem;
}

.portfolio__header{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: $secondary-font;
}

/*
---------------------------------------------
                ABOUT SECTION
---------------------------------------------
*/

/*
---------------------------------------------
                CONTACT SECTION
---------------------------------------------
*/
